{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <div class="min-h-screen flex flex-col justify-center bg-indigo-600">
        <div class="bg-white mx-auto max-w-md py-8 px-10 shadow rounded-lg">
            <div class="mb-4">
                <img src="{% static  '/assets/undraw.png' %}" alt="imagem undraw">
            </div>
            <h1>Importar Arquivo</h1>
            <form action="{% url 'importar_arquivo' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class ="mb-4" type="file" name="file" required>
                <button class="inline-block w-full px-8 py-4 leading-nome text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow" type="submit">Importar</button>
            </form>
        </div>
    </div>
{% endblock %}
