{% load static %}

<footer class="bg-blue-600 text-white py-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow p-4 w-full">
            <p class="text-sm text-gray-500 sm:text-center dark:text-black mt-4">Desenvolvido por Guilherme Tomelin dos Santos.</p>
            <div class="flex justify-center mt-2">
                <div class="flex items-center mr-4">
                    <a href="https://github.com/Guilherme-Tomelin" target="_blank" class="flex items-center mb-4 sm:mb-0">
                        <img class="h-8 mr-3" src="{% static '/assets/github.png' %}" alt="Ícone do Github">
                        <span class="self-center text-xl font-semibold whitespace-nowrap text-black hover:text-blue-300">Github</span>
                    </a>
                </div>
                <div class="flex items-center">
                    <a href="https://www.linkedin.com/in/guilherme-tomelin-dos-santos-1b7a73199/" target="_blank" class="flex items-center mb-4 sm:mb-0">
                        <img class="h-8 mr-3" src="{% static '/assets/linkedin.png' %}" alt="Ícone do Linkedin">
                        <span class="self-center text-xl font-semibold whitespace-nowrap text-black hover:text-blue-300">Linkedin</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
